<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% if request.session.admin %}
      <a href="{% url 'users:admin' %}">Dashboard</a>
    {% else %}
      <a href="{% url 'users:index' %}">Dashboard</a>
    {% endif %}
    <a href="{% url 'users:show' id=request.session.id}">Profile</a>
    <a href="{% url 'users:edit'}">Edit Profile</a>
    <a href="{% url 'login_reg:logout' %}"></a>
    <br><br>
    <h2>Add a new user</h2>
    <a href="{% url 'users:admin' %}">Return to Dashboard</a>
    {% if messages %}
      {% for i in messages %}
        <p>{{i}}</p>
      {% endfor %}
    {% endif %}
    <form class="" action="{% url 'users:create' %}" method="post">
      {% csrf_token %}
      Email: <input type="email" name="email" value="">
      First Name: <input type="text" name="first_name" value="">
      Last Name: <input type="text" name="last_name" value="">
      Password: <input type="password" name="password" value="">
      Confirmation Password: <input type="password" name="confirmation" value="">
      <input type="submit" name="" value="Create">
    </form>
  </body>
</html>
