<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="{% url 'belt:add' %}">Add Book and Review</a> | <a href="{% url 'belt:logout' %}">Logout</a>
    <h1>Welcome, {{request.session.name}}</h1>



    <h2>Recent Book Reviews:</h2>
    {% for i in three %}
      <h3><a href="{% url 'belt:show' id=i.id  %}">{{i.title}}</a>, by: {{i.author.name}}</h3>
      <p>
        {% for x in i.rating %}
          &#9733;
        {% endfor %}
        {% for x in i.left %}
          &#9734;
        {% endfor %}
      </p>
      <p>{{i.review}}</p>
    {% endfor %}
    <hr>
    <h2>Other Books with reviews</h2>
    <ul>
      {% for i in books %}
        <li><a href="{% url 'belt:show' id=i.id %}">{{i.title}}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
