<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% if messages %}
      {% for i in messages %}
        <p>{{i}}</p>
      {% endfor %}
    {% endif %}
    <h1>Register</h1>
    <form class="" action="{% url 'belt:register' %}" method="post">
      {% csrf_token %}
      Name: <input type="text" name="name" value="">
      Alias: <input type="text" name="alias" value="">
      Email: <input type="email" name="email" value="">
      Password: <input type="password" name="password" value="">
      Confirmation: <input type="password" name="confirm" value="">
      <input type="submit" name="" value="Register">
    </form>
    <h1>Login</h1>
    <form class="" action="{% url 'belt:login' %}" method="post">
      {% csrf_token %}
      Email: <input type="email" name="email" value="">
      Password: <input type="password" name="password" value="">
      <input type="submit" name="" value="Login">
    </form>
  </body>
</html>
