<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Products</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for i in products %}
          <tr>
            <td>{{i.name}}</td>
            <td>{{i.description}}</td>
            <td>${{i.price}}</td>
            <td>
              <a href="{% url 'semi:show' id=i.id %}">Show</a> |
              <a href="{% url 'semi:edit' id=i.id %}">Edit</a> |
              <a href="{% url 'semi:destroy' id=i.id %}">Remove</a> |
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <a href="{% url 'semi:new' %}">Add a new product</a>
  </body>
</html>
